<%#= stylesheet_link_tag "game" %>


<%#= link_to @referee.name, new_referee_review_path(@referee) %>

<%# @referee_array.each do |referee| %>
  <%#= link_to "#{referee.name}", new_referee_review_path(referee) %>
<%# end %>

<% @date %>






<div class="gamepg_top_part">
<div>
  Select The Game Official's You Wish To Rate Below:
</div>
</div>

<div class= "gamepg_middle_part">

<div class= "wba_logo">
  <%= link_to root_path do %>
<%= image_tag ("WBA.PNG") %>
<!-- <%= link_to 'Home', root_path %> -->
<% end %>
</div>


</div>

<div class="gamepg_bottom_part">


  <article class="col-xs-12 post referee-assignments post-6203 page type-page status-publish hentry">

          <header class="entry-header">
              <h1 class="entry-title">NBA Referee Assignments</h1>            <div class="entry-meta"><%= @date[0] %></div>
          </header>

          <div class="entry-content">
            <div class="pat_was_pissed">
              <p>
                Referee assignments are posted at approximately 9:00am ET each game day.
              </p>
            </div>

              <div class="dayContent">
                <div class="nba-refs-content">
                  <table cellspacing="4" cellpadding="2" class="table">
                      <thead>
                        <tr>
                            <th class="tableTitle">Game</th>
                            <th class="tableTitle">Official 1</th>
                            <th class="tableTitle">Official 2</th>
                            <th class="tableTitle">Official 3</th>
                        </tr>
                      </thead>
<% @gamecollection.each_with_index do |game, index| %>
<tbody>
  <tr>
      <td><%= game %></td>
      <% i = 0 %>
      <% 3.times do %>
        <td>
          <%= link_to "#{@referee_array[i+(index*3)].name}", new_referee_review_path(@referee_array[i+(index*3)]) %>
          <% i += 1 %>
        </td>
      <% end %>
  </tr>
</tbody>
<% end %>
                  </table>
                </div>
              </div>



          </div>

  </div>
