 <%= form_with(model: [@referee, @review], local: true) do |form| %>


   <div class="field">
     <%= form.check_box :disappears, {}, "1", "0" %>
     <%= form.label :this_official_disappears_in_the_last_2_minutes_of_a_game %>
   </div>

   <div class="field">
     <%= form.check_box :home, {}, "1", "0" %>
     <%= form.label :this_official_favors_the_home_team %>
   </div>

   <div class="field">
     <%= form.check_box :superstars, {}, "1", "0" %>
     <%= form.label :this_official_favors_the_superstars %>
   </div>


   <div class="field">
     <%= form.check_box :sucks, {}, "1", "0" %>
     <%= form.label :this_official_sucks %>
   </div>


   <!-- <div class="field"> -->
     <%#= form.label :comment %>
     <%#= form.text_area :comment, id: :review_body %>
   <!-- </div> -->

   <div class="actions">
     <%= form.submit "Submit Answers and Comment" %>
   </div>
 <% end %>
